<div class="jumbotron text-center">
  <h1 class="display-4">What is Rehab Buddy?</h1>
  <p class="lead">Rehab Buddy is free collaboration tool for patients and rehabilitation therapists to track exercises and progress.</p>

  <a class="btn btn-primary btn-lg" href="/login" role="button">Let's get your rehab started!</a>
</div>



<!-- feature images width 530, height 313 -->

<div class="text-center">
  <h2>Features</h2>
  <br>
  <div class="container">

    <div class="row">
      <div class="card-deck">

        <div class="card mb-4 box-shadow  text-light bg-dark">
          <img class="card-img-top" src="/images/diary.png" alt="Card image cap">


          <h5 class="card-title mt-3"><b>Exercise Diary</b></h5>
          <div class="card-body">
            <p class="card-text">Check off exercises you've done</p>
            <div class="d-flex justify-content-between align-items-center">


            </div>
          </div>
        </div>



        <div class="card mb-4 box-shadow  text-light bg-dark">
          <img class="card-img-top" src="/images/exercises.png" alt="Card image cap">



          <h5 class="card-title mt-3"><b>High-impact Exercises</b></h5>
          <div class="card-body">
            <p class="card-text">Follow tailored exercises from your therapist</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>


        <div class="card mb-4 box-shadow  text-light bg-dark">
          <img class="card-img-top" src="/images/stats.png" alt="Card image cap">


          <h5 class="card-title mt-3"><b>Analyze your progress</b></h5>
          <div class="card-body">
            <p class="card-text">Discover & monitor your habits </p>
            <div class="d-flex justify-content-between align-items-center">


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>


<br>

<!-- <div class="jumbotron text-center">
  <h1 class="display-4">Free to use</h1>
  <p class="lead">Rehab Buddy is collaboration tool between rehabilitation therapists and patients for tracking and progressing exercises.</p>

  <a class="btn btn-primary btn-lg" href="/" role="button">Start Now</a>
</div> -->

<!-- how it works -->
<div class="row">
  <div class="col col-lg-4"></div>
  <div class="col-lg-4">
    <h2 class="mb-4 text-center">How It Works</h2>
    <p>1. <a href="/new_account" class="btn btn-success" >Create an account</a></p>
    <p>2. You or your therapist add some exercises</p>
    <p>3. Do your exercises, and check them off as done!</p>
  </div>
  <div class="col col-lg-4"></div>
</div>

<div class="text-center">
  <hr>
  <br>
  <h3 class="mb-4">Who made this app?</h3>
  <p><span>This web app is written by Daniel out of <i class="far fa-heart"></i> for his rehab patients.</span></p>


  <br>


</div>


<div class="col text-center">
  <style>.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 15px 7px 10px !important;line-height: 35px !important;height:51px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#79D6B5 !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 15px 7px 10px !important;font-size: 20px !important;letter-spacing:-0.08px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Lato', sans-serif !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}</style><link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/danny85"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Support Rehab Buddy"><span style="margin-left:5px;font-size:18px !important;">Support Rehab Buddy</span></a>
</div>