<div class="jumbotron text-center">
  <h1 class="display-4">What is Rehab Buddy?</h1>
  <p class="lead">Rehab Buddy is free collaboration tool between patients and rehabilitation therapists for tracking and progressing exercises.</p>

  <a class="btn btn-primary btn-lg" href="/" role="button">Let's get your rehab started!</a>
</div>



<!-- feature images width 530, height 313 -->

<div class="text-center">
  <h2>Features</h2>
  <br>


<!--
  <div class="container">

    <div class="row">
      <div class="card-deck">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/diary.png" alt="Card image cap">

            <hr>
            <h5 class="card-title"><b>Exercise Diary</b></h5>
            <div class="card-body">
              <p class="card-text">Check off exercises you've done</p>
              <div class="d-flex justify-content-between align-items-center">


              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/exercises.png" alt="Card image cap">
            <br>

            <br>
            <h5 class="card-title"><b>High-impact Exercises</b></h5>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.svg" alt="Card image cap">
            <br>
            <h5 class="card-title">Card title</h5>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">


              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

 -->


  <div class="container">

    <div class="row">
      <div class="card-deck">

          <div class="card mb-4 box-shadow  text-light bg-dark">
            <img class="card-img-top" src="/images/diary.png" alt="Card image cap">


            <h5 class="card-title mt-3"><b>Exercise Diary</b></h5>
            <div class="card-body">
              <p class="card-text">Check off exercises you've done</p>
              <div class="d-flex justify-content-between align-items-center">


              </div>
            </div>
          </div>



          <div class="card mb-4 box-shadow  text-light bg-dark">
            <img class="card-img-top" src="/images/exercises.png" alt="Card image cap">



            <h5 class="card-title mt-3"><b>High-impact Exercises</b></h5>
            <div class="card-body">
              <p class="card-text">Follow tailored exercises from your therapist</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>


          <div class="card mb-4 box-shadow  text-light bg-dark">
            <img class="card-img-top" src="/images/stats.png" alt="Card image cap">


            <h5 class="card-title mt-3"><b>Analyze your progress</b></h5>
            <div class="card-body">
              <p class="card-text">Discover & monitor your habits </p>
              <div class="d-flex justify-content-between align-items-center">


              </div>
            </div>
          </div>

      </div>
    </div>
  </div>



</div>


<br>

<!-- <div class="jumbotron text-center">
  <h1 class="display-4">Free to use</h1>
  <p class="lead">Rehab Buddy is collaboration tool between rehabilitation therapists and patients for tracking and progressing exercises.</p>

  <a class="btn btn-primary btn-lg" href="/" role="button">Start Now</a>
</div> -->



<div class="text-center">
  <hr>
  <br>
  <h3>Who made this app?</h3>
  <p><span>This web app is written by Daniel out of <i class="far fa-heart"></i> for his rehab patients.</span></p>

  <br>
</div>