


<div class="col-5 text-center alert-warning mx-auto">
  <h5>
  <% if session[:access_error] %>
    <%= session.delete(:access_error) %>
  <% else %>
    Sorry, you do not have access to the requested page, or your session has timed out.
  <% end %>
  </h5>
</div>

<br>

<div class="text-center">
<h5><button class="btn btn-secondary" onclick="goBack()">Back to previous page</button></h5>
<!-- <h5><a class="btn btn-primary" href="/login">Sign In</a></h5> -->


</div>