<div class="row-col">
<h2>Create Exercise Group</h2>
</div>
<br>

<!-- Form to add new group -->
<form class="form-inline" id="form_add_group" action="/users/<%=@patient.username%>/exercises/group/add" method="post">
        <label class = "sr-only" for="formGroupExampleInput">Name of new Group</label>
        <input type="text"  class="col-2 form-control" name="new_group_name" placeholder="Name of new group">
        <button type="submit" class="mx-2 input-group-btn btn btn-outline-primary add-new-exercise">Add Group</button>

<a href="/users/<%=@patient.username%>/exercises" class="btn btn-outline-secondary">Cancel</a>
</form>