.dates {
  font-size: 15px;
  font-weight: bold;
}



* {
  font-family: 'Raleway', sans-serif;
}

.exercise {
  font-weight: bold;
  font-size: 18px;
  margin-right: 50px;
}

.exercise-button {
  margin-left: 10px;
  margin-right: 10px;

}

.exercise-row {
  margin-top: 4px;
  margin-bottom: 4px;
}

.header-row {
  color: darkslategray;
  padding: -20px;
  margin-bottom: 20px;
}

.spacer-top {
  padding-top: 20px;
}

.custom-control-label::before,
.custom-control-label::after {
  width: 2rem !important;
  height: 2rem !important;
}

.custom-checkbox {

}

.table_patient_list {
  text-align: center;
}

.table_patient_list a {
  margin: 1em;
}

.add-new-exercise {
    /*margin-left: 10px !important;*/
}

.date-nav-button {
  /*margin-bottom: 20px;*/
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 50%;
}