.dates {
  font-size: 16px;
  font-weight: bold;
}



* {
  font-family: 'Raleway', sans-serif;
}

.exercise {
  font-weight: bold;
  font-size: 18px;
  margin-right: 40px;
  padding-left: 0;
}

.exercise-button {
  margin-left: 10px;
  margin-right: 10px;

}

.heading-row {
  padding-left: 5px;
}

.badge.reps-sets {
  font-size: 14px;
}

.exercise-row {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 3px;
}

.header-row {
  color: darkslategray;
  /*padding: -20px;*/
  margin-bottom: 20px;
}

.spacer-top {
  padding-top: 20px;
}

.custom-control-label::before,
.custom-control-label::after {
  width: 2rem !important;
  height: 2rem !important;
}

.custom-checkbox {
  cursor: pointer;
}

#weather_btn {
  cursor: pointer;
}

#wicon {
  margin-top: -20px;
}

.table_accounts_list {
  text-align: center;
}

.table_accounts_list a {
  margin: 1em;
}


.add-new-exercise {
    /*margin-left: 10px !important;*/
}

.date-nav-button {
  /*margin-bottom: 20px;*/
  margin-left: 0.4em;
  height: 50%;
}

.btn.square {
  background: transparent  url("../images/square.png") 0 50% no-repeat;

}

.custom-checkbox {
    border-radius: .99rem;
}

.select-all-none-btn {

}

p {
  font-size: 20px;
}

footer p {
 font-size: 16px;
}

.deactivate-account-btn {
  width: 150px;
}