<div class="text-center">
  <h1><span class="alert-success"><i class="far fa-check-circle mr-2"></i>Account created for '<%= @username %>'</span></h1>
  <br>
  <h3>A verification link has been sent to your email account</h3>
  <br>
  <p>Please click on the link sent to you to finish the registration process. The link is valid for 24 hours.</p>

  <p>You may still <a href="login" class="btn btn-primary">Sign In</a> and add/view your exercises in the mean time.</p>

</div>